/* Configure Databases */
//params{

/* Running parameters */


/* Databases */
//    hostrm_bowtie2_idx='/proj/virus/db/hg38/hg38'
//}

/* Configure steps, CPU and PATH requirements */
process {
    executor='local'
    errorStrategy = 'ignore'

    withName: bbmap_paired {
        beforeScript="export PATH=/home/amanj/Documents/Packages/Tools/BBTools/38.68/bbmap:$PATH"
        cpus = 5
    }

    withName: bbmap_unpaired{
        beforeScript="export PATH=/home/amanj/Documents/Packages/Tools/BBTools/38.68/bbmap:$PATH"
        cpus = 5
    }

    withName: flagstat{
	beforeScript="export PATH=/home/amanj/Documents/TestRun_bbmap_pipeline/scripts:$PATH"
        cpus = 2
    }

    withName: pythonPlot{ 
	beforeScript="export PATH=/home/amanj/Documents/TestRun_bbmap_pipeline/scripts:$PATH"
        cpus = 2
    }
    withName: pythonGenTable{
	beforeScript="export PATH=/home/amanj/Documents/TestRun_bbmap_pipeline/scripts:$PATH"
	cpus = 1
    }  
}
